{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Liste des administrateurs</h1>
        <hr class="dotted"/>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        Admin : <a href="{{ path('admin.users.add') }}" class="btn btn-sm btn-outline-success"><i class="material-icons">add</i></a>
        <hr/>
        <div class="container-fluid shadow-lg rounded-lg border border-info" style="background-color: lightblue;">
            <div class="container  p-3">
                <table class="table table-striped table-hover table-bordered table-light shadow-lg rounded col-lg-7"  style="margin-left: 20%;">
                    <thead class="table-primary">
                    <tr>
                        <th></th>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th colspan="4">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('admin.user.edit', {id: user.id}) }}" class="btn btn-sm btn-outline-warning"><i class="material-icons" >edit</i></a>
                            </td>
                            <td>
                                {% include('admin_user/_delete_form.html.twig') %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


